* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

body {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headshot-clipper {
    margin-top: 10vh;

    width: 220px;
    height: 220px;
    
    overflow: hidden;

    border-radius: 50%;
}

.headshot {
    width: 220px;
    height: 284px;
}